/* src/styles/userPage.module.css */

/* STYLIZACJA MAIN CONTENTU I TYTUŁU STRONY */

/* Ogólny kontener strony */
.container {
  display: flex;
  min-height: 100vh;
}

/* Główna zawartość strony */
.mainContent {
  flex: 1;
  padding: 2rem;
  background-color: #f9f9f9;
  padding-bottom: 4rem;
}

/* Stylizacja dla trybu ciemnego */
.dark .mainContent {
  background-color: #121212;
  color: #ffffff;
}

/* Stylizacja dashboardu */
.dashboard {
  width: 100%;
}

/* Tytuł sekcji */
.title {
  padding-top: 1.5rem;
  color: #000000;
  font-size: 2rem;
  margin-bottom: 1rem;
  left: 8rem;
  position: relative;
}

.dark .title {
  color: #ffffff;
}

/* STYLIZACJA WSZYSTKIEGO ZWIĄZANEGO Z TABELĄ */

/* Stylizacja tabeli */
.table {
  color: #000000;
  width: 80%;
  border-collapse: collapse;
  position: relative;
  left: 8rem;
  overflow-x: auto;
  overflow-y: auto;
  border-radius: 30px;
}

.dark .table {
  color: #ffffff;
}

.table tr:nth-child(even) {
  background-color: #d1d1d1;
}

.table td:hover {
  background-color: #6fdaf7;
}

.table th {
  background-color: #2a94f7;
  color: #ffffff;
  border: 1px solid #000000;
  padding: 0.5rem;
  text-align: left;
  vertical-align: center;
}
.table td {
  border: 1px solid #000000;
  padding: 0.5rem;
  text-align: left;
  vertical-align: center;
}

.dark .table th,
.dark .table td {
  border: 1px solid #ffffff;
}

/* STYLIZACJA WSZYSTKIEGO ZWIĄZANEGO Z PRZYCISKAMI */

/* Stylizacja przycisku-linku */
.linkButton {
  background: none;
  border: none;
  color: #0070f3;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  font: inherit;
  text-align: left;
}

.dark .linkButton {
  color: #66b2ff;
}
