/* src/styles/userPage.module.css */

/* STYLIZACJA MAIN CONTENTU I TYTUŁU STRONY */

/* Ogólny kontener strony */
.container {
  display: flex;
  min-height: 100vh;
}

@keyframes identifier {
  0% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_00_delay-0.1s.png'), auto;
  }

  2.5% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_01_delay-0.1s.png'), auto;
  }

  5% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_02_delay-0.1s.png'), auto;
  }

  7.5% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_03_delay-0.1s.png'), auto;
  }

  10% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_04_delay-0.1s.png'), auto;
  }

  12.5% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_05_delay-0.1s.png'), auto;
  }

  15% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_06_delay-0.1s.png'), auto;
  }

  17.5% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_07_delay-0.1s.png'), auto;
  }

  20% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_08_delay-0.1s.png'), auto;
  }

  22.5% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_09_delay-0.1s.png'), auto;
  }

  25% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_10_delay-0.1s.png'), auto;
  }

  27.5% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_11_delay-0.1s.png'), auto;
  }

  30% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_12_delay-0.1s.png'), auto;
  }

  32.5% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_13_delay-0.1s.png'), auto;
  }

  35% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_14_delay-0.1s.png'), auto;
  }

  37.5% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_15_delay-0.1s.png'), auto;
  }

  40% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_16_delay-0.1s.png'), auto;
  }

  42.5% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_17_delay-0.1s.png'), auto;
  }

  45% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_18_delay-0.1s.png'), auto;
  }

  47.5% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_19_delay-0.1s.png'), auto;
  }

  50% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_20_delay-0.1s.png'), auto;
  }

  52.5% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_21_delay-0.1s.png'), auto;
  }

  55% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_22_delay-0.1s.png'), auto;
  }

  57.5% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_23_delay-0.1s.png'), auto;
  }

  60% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_24_delay-0.1s.png'), auto;
  }

  62.5% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_25_delay-0.1s.png'), auto;
  }

  65% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_26_delay-0.1s.png'), auto;
  }

  67.5% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_27_delay-0.1s.png'), auto;
  }

  70% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_28_delay-0.1s.png'), auto;
  }

  72.5% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_29_delay-0.1s.png'), auto;
  }

  75% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_30_delay-0.1s.png'), auto;
  }

  77.5% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_31_delay-0.1s.png'), auto;
  }

  80% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_32_delay-0.1s.png'), auto;
  }

  82.5% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_33_delay-0.1s.png'), auto;
  }

  85% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_34_delay-0.1s.png'), auto;
  }

  87.5% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_35_delay-0.1s.png'), auto;
  }

  90% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_36_delay-0.1s.png'), auto;
  }

  92.5% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_37_delay-0.1s.png'), auto;
  }

  95% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_38_delay-0.1s.png'), auto;
  }

  97.5% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_39_delay-0.1s.png'), auto;
  }

  100% {
    cursor: url('http://localhost:3000/zwrocikHaHaHa/frame_40_delay-0.1s.png'), auto;
  }

}

.dark .container {
  background-color: #121212;
}

/* Główna zawartość strony */
.mainContent {
  flex: 1;
  background-color: #ffffff;
  padding-bottom: 4rem;
  padding: 2.5rem 5rem;
}

/* Stylizacja dla trybu ciemnego */
.dark .mainContent {
  background-color: #121212;
  color: #ffffff;
}

.dashboard {
  width: 100%;
}

/* Tytuł sekcji */
.title {
  padding-top: 1.5rem;
  color: #000000;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-left: 8rem;
  position: relative;
}

.dark .title {
  color: #ffffff;
}

/* STYLIZACJA WSZYSTKIEGO ZWIĄZANEGO Z TABELĄ */

/* Stylizacja tabeli */
.table {
  padding-left: 8rem;
  color: #000000;
  width: 90%;
  border-collapse: separate;
  border-spacing: 0;
  font-family: 'Segoe UI', sans-serif;
  position: relative;
  overflow-x: auto;
  overflow-y: auto;
}

.dark .table {
  color: #ffffff;
}

.table tr:nth-child(even) {
  background-color: #d1d1d1;
}

.table tr:nth-child(odd) {
  background-color: #ffffff;
}

.table td:hover {
  background-color: #6fdaf7;
}

.table th {
  background-color: #2a94f7;
  color: #ffffff;
  border: 1px solid #000000;
  padding: 0.5rem;
  text-align: left;
  vertical-align: center;
}

.table td {
  border: 1px solid #000000;
  padding: 0.5rem;
  text-align: left;
  vertical-align: center;
}

.dark .table th,
.dark .table td {
  border: 1px solid #ffffff;
}

/* STYLIZACJA WSZYSTKIEGO ZWIĄZANEGO Z PRZYCISKAMI */

/* Stylizacja przycisku-linku */
.linkButton {
  background: none;
  border: none;
  /*color: #0070f3;*/
  cursor: pointer;
  /*text-decoration: underline;*/
  padding: 0;
  font: inherit;
  text-align: left;
  transition: color 0.2s ease, opacity 0.2s ease;
}

.linkButtonFunny {
  animation: identifier 3s infinite;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  text-align: left;
  transition: color 0.2s ease, opacity 0.2s ease;
}

.linkButtonFunny:hover {
  color: #ff0000;
  text-decoration: underline;
}

.linkButton:hover {
  color: #0070f3;
  text-decoration: underline;
}

.dark .linkButton {
  color: #66b2ff;
}

.dark .linkButton:hover {
  color: #4d94ff;
  text-decoration: underline;
}